<div class="modal" data-modal="true" id="search_modal">
    <div class="modal-content max-w-[600px] top-[15%]">
        <div class="modal-header py-4 px-5">
            <i class="ki-filled ki-magnifier text-gray-700 text-xl"></i>
            <input class="input px-0 border-none bg-transparent shadow-none ms-2.5"
                   placeholder="Rechercher..." type="text"  data-datatable-search="#all-books-table" />
            <button class="btn btn-sm btn-icon btn-light btn-clear shrink-0" data-modal-dismiss="true">
                <i class="ki-filled ki-cross"></i>
            </button>
        </div>
        <div class="modal-body p-0 pb-5">
            <div id="all-books-table" data-datatable="true" data-datatable-page-size="5">
                <div class="scrollable-x-auto">
                    <table class="table border-0" data-datatable-table="true">
                        <thead>
                        </thead>
                        <tbody>
                        {% for book in booksWithRatings %}
                            <tr>
                                <td>
                                    <img alt="Cover" class="rounded-full size-9 shrink-0" src=""/>
                                </td>
                                <td>
                                    <div class="flex flex-col gap-2">
                                        <a class="text-sm font-semibold text-gray-900 hover:text-primary-active mb-px" href="#">
                                            {{ book.book.name }}
                                        </a>
                                        <span class="text-2sm font-normal text-gray-500">
                                            {{ book.book.description }}
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="rating flex">
                                        {% for i in range(1, 5) %}
                                            {% if i <= book.averageRating %}
                                                <i class="rating-on ki-solid ki-star text-base leading-none"></i>
                                            {% else %}
                                                <i class="rating-off ki-outline ki-star text-base leading-none"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
